@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

body{
   height: auto;
   margin:auto;
   font-family: 'Syne', sans-serif;
   font-size: 16px; 
  }

.directionRow { /*Class pour donner le Flex Row*/
   display: flex
}

/* HEADER */
.container-fluid{ /*Définition du header*/
	width: 100% ;
   height: 80px;
   margin:auto;
	padding-right: 0;
}

.navbar  { /*Réglage ombre et padding de la barre de navigation*/
   padding:0;  
   box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.1);
}

.fixed-top{
   position: sticky;
}

#logo{ /*Taille du logo*/
    margin-left: 37px;
}

.nav-item { /*On ajoute un padding à droite de chaque nom de menu*/
    padding-right: 60px;
}

.nav-link{ /*On colore les liens en noir*/
	color:black;
}

.nav-link:hover{ /*Idem au survol*/
   color:black;
}

.button-commander { /*Réglage bouton commander*/
   width: 236px;
   height: 80px;
   background-color: #DC9F96;
   color: white;
   border: none;
   font-weight: 700;
   font-size: 16px;
   cursor: pointer;
}

.button-commander:hover { /*Hover du bouton commander*/
   background-color: #C02E44;
}

/* FOOTER */
footer{ /*Paramétrage du footer*/
   width: 100%;
   height: 60px;
   text-align: center;
   line-height: 60px;
}

/* FORM COMMANDER */
.container_quantity { /*Réglages du bloc form commander*/
   display: flex;
   margin-top: 15px;
}

.wpcf7-form-control-wrap .custom_select { /*Réglages liste déroulante nombre de commande*/
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   height: 50px;
   width: 35px;
   border: none;
   border-radius: 10px 0 0px 10px;
   margin-top: 0px;
   text-align: center;
}

.more { /* Réglages bouton + */
   height: 27.5px;
   border-radius: 0 10px 0 0;
   border-bottom: 0.5px solid white;
}

.less { /*Réglages bouton - */
   height: 27.5px;
   border-radius: 0 0 10px 0;
   border-top: 0.5px solid white;
}

.more, .less { /*Réglages boutons + et -*/
   display: table;
   height: 25px;
   width: 31px;
   background-color: #DC9F96;
   cursor: pointer;
}

.more:hover, .less:hover { /*Hover boutons + et - */
   background-color: #C02E44;
}

.spinbox p { /* Réglages boutons + et - */
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   font-weight: 400;
   font-size: 18.5px;
   color: white;
}

.buttonOK { /*Réglages bouton envoyer*/
   height: 50px;
   width: 95px;
   background-color: #DC9F96;
   font-size: 15px;
   color: white;
   font-weight: 400;
   margin-left: 11px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.buttonOK:hover { /*Hover bouton envoyer*/
   background-color: #C02E44;
}

.border-right { /*Création de la barre de séparation blanche*/
   border-right: solid 2px #ffffff;
}

/* FORM NOUS RENCONTRER */
.elementor-15 .elementor-element.elementor-element-3e43524 .premium-cf7-container input.wpcf7-submit { /*Placement du envoyer*/
   margin-left: 130px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 350px) and (max-width: 990px){
   .button-commander { /*Réglage du bouton commander dans le menu burger*/
       width:auto;
       height:auto; 
       color: white;
       font-weight:700; 
   } 

  .nav-item, .button-commander { /*On crée une marge à gauche des liens*/
     padding-left: 37px; 
  }

   #logo{ /*Re-définition de la taille du logo + marge à gauche*/
       margin-left: 20px;
       width: 70%;
   }

   .navbar-toggler { /*Marge à droite du logo Toggler*/
       margin-right: 20px;
   }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus { /*Réglage du menu burger*/
      outline: none;
      box-shadow: none;
      background-color:#DC9F96;	
      margin-right: 20px
  }

   .navbar-collapse{ /*Ajout d'une marge à droite du menu lorsqu'il est ouvert*/
       background-color:#DC9F96; 
       margin-right: 12px;
   }

   a { /*On colore les liens en blanc*/
      color: white;
   }

   .elementor-15 .elementor-element.elementor-element-3e43524 .premium-cf7-container input.wpcf7-submit { /*Placement du envoyer*/
      margin-left: 90px;
   }

   .border-right { /*Création de la barre de séparation blanche*/
      border-right: solid 0px #ffffff;
   }

}