@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}

.directionRow { /*Class pour donner le Flex Rox*/
   display: flex
}

/****** Header ******/
ul { /*On remet le padding et le margin des listes à 0 pour éviter le décalage*/
   display: flex;
   align-items: center;
   font-size: 17px;
   text-decoration: none;
   color: #000000;
}

li { /*Propriété des boutons hébergements et activités*/
   padding: 14px 25px;
   font-size: 16px;
}

.header { /*Taille du header et espace entre le logo et le menu + centrage du logo sur l'axe vertical*/
   justify-content: space-between;
   align-items: center;
}

#logo {
   margin-left: 37px;
   width: 100%;
}

.button-commander {
   width: 236px;
   height: 80px;
   background-color: #DC9F96;
   color: white;
   border: none;
   font-weight: 700;
   font-size: 16px;
   cursor: pointer;
}

/* LIENS DU MENU */ 
li.menu-item a {
   color: #000000 !important;
   display: inline-block;
   padding: 10px 25px;
   border-radius: 10px;
   text-align: center;
   text-decoration: none;
}