@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
/* Import de la font Syne depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
   font-family: 'Syne', sans-serif;
}

.directionRow { /*Class pour donner le Flex Row*/
   display: flex
}

/* HEADER */
.navbar { /*Réglage de la barre de navigation*/
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   font-size: 17px;
   text-decoration: none;
   color: #000000;
}

li { /*Réglages liste*/
   padding: 14px 40px;
   font-size: 16px;
   list-style: none;
}

li a{
   color:black;
   margin-right: 20px;
}

.site-header { /*Réglage du header*/
   justify-content: space-between;
   align-items: center;
   box-shadow: 0px 8px 9px 0px rgba(0,0,0,0.2);
   flex-flow: row wrap;
}

.site-header.sticky-top { /*Réglage pour rendre le header sticky*/
   position: sticky;
   z-index: 10;
   top: 0;
   background-color: #ffffff;
}

#logo { /*Réglage logo*/
   margin-left: 37px;
   width: 100%;
}


@media screen and (min-width: 360px max-width: 596px){

   nav {
      flex-direction: column;
   }
   .navbar{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
 }
   #logo {
      margin-top: 10px;
   }

}

@media screen and (max-width: 360px){
   .navbar{
      display: flex;
      justify-content: center;
      margin-top: 10px;
 }
   #logo {
      margin-top: 10px;
   }

}

/* LIENS DU MENU */ 
li.menu-item a { /*Réglage des liens du menu*/
   color: #000000 !important;
   display: inline-block;
   font-size: 16px;
   text-align: center;
   text-decoration: none;
}

.button-commander { /*Réglage bouton commander*/
   width: 236px;
   height: 80px;
   background-color: #DC9F96;
   color: white;
   border: none;
   font-weight: 700;
   font-size: 16px;
   cursor: pointer;
}

.button-commander:hover { /*Hover du bouton commander*/
   background-color: #C02E44;
}

/* FOOTER */
#footer { /*Réglage footer*/
   display: flex;
   justify-content: center;
}

/* FORM COMMANDER */
.container_quantity { /*Réglages du bloc form commander*/
   display: flex;
   margin-top: 15px;
}

.wpcf7-form-control-wrap .custom_select { /*Réglages liste déroulante nombre de commande*/
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   height: 50px;
   width: 35px;
   border: none;
   border-radius: 10px 0 0px 10px;
   margin-top: 0px;
   text-align: center;
}

.more { /* Réglages bouton + */
   height: 27.5px;
   border-radius: 0 10px 0 0;
   border-bottom: 0.5px solid white;
}

.less { /*Réglages bouton - */
   height: 27.5px;
   border-radius: 0 0 10px 0;
   border-top: 0.5px solid white;
}

.more, .less { /*Réglages boutons + et -*/
   display: table;
   height: 25px;
   width: 31px;
   background-color: #DC9F96;
   cursor: pointer;
}

.more:hover, .less:hover { /*Hover boutons + et - */
   background-color: #C02E44;
}

.spinbox p { /* Réglages boutons + et - */
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   font-weight: 400;
   font-size: 18.5px;
   color: white;
}

.buttonOK { /*Réglages bouton envoyer*/
   height: 50px;
   width: 95px;
   background-color: #DC9F96;
   font-size: 15px;
   color: white;
   font-weight: 400;
   margin-left: 11px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.buttonOK:hover { /*Hover bouton envoyer*/
   background-color: #C02E44;
}

.border-right { /*Création de la barre de séparation blanche*/
   border-right: solid 2px #ffffff;
}

/* FORM NOUS RENCONTRER */
.elementor-15 .elementor-element.elementor-element-3e43524 .premium-cf7-container input.wpcf7-submit { /*Placement du envoyer*/
   margin-left: 130px;
}